#grid {
    border: 1px solid red;
    column-width: 100px;
    column-gap: 10px;
  }
  
  #grid > div {
    break-inside: avoid-column; /* Prevent element from breaking */
    page-break-inside: avoid; /* Prevent element from breaking in Firefox */
    background: lime;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }